html {
  font-size: 18px;
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
}

/* header */
.header {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: flex-start;
}

.header img {
  padding-left: 24px;
}

#academy {
  color: #8895B3;
  padding-right: 47rem;
}

.header h5 {
  font-family: Roboto Condensed, sans-serif;
  font-size: 1.5rem;
}
/* not sure why the links are wrapping */
.header a {
  text-decoration: none;
  font-family: arimo, sans-serif;
  color: #8895B3;
  margin-right: 16px;
  flex-wrap: nowrap;
}

/* Media Queries Section... Ran out of time... I know it is sloppy and doesn't work correctly ... */

@media only screen and (max-width: 480px) {
  .header {
    height: 64px;
  }
  .header a, .header h5 {
    display: none;
  }
  .LearnSomethingContainer img {
    display: none;
    padding-top: 24px;
  }
  .LearnSomethingContainer {
    padding-top: 180px;
  }
  #button {
    margin-bottom: 24px;
  }

  .leftside img, .leftside p, .leftside h1, .leftside h6 {
    display: none;
  }

/* I am not sure why the left side of the flex box still has space reserved for it */
  .leftside {
    display: none;
  }

  .rightside {
    width: 100%;
  }

  .start .box {
    display: none;
  }

  .start .mobile {
    background-color: #8895B3;
    font-weight: bold;
    padding: 16px 16px;
    margin-bottom: 8px;
  }

  .thesis-text h4, .thesis-text p {
    display: none;
  }

  .box img, .box2 img, .box h5, .box2 h5, .box p, .box2 p {
    display: none;
  }

/*Not sure how to adjust the video*/
  video {
    height: auto;
    width: 450px;
    width: 100%;
    display: block;
  }
}

@media only screen and (min-width: 480px) {
  .mobile {
    display: none;
  }
}

/* Learn Something New Banner */

.MainContainer {
  background-color: #CEE5F2;
  display: flex;
}

.LearnSomethingContainer {
  font-family: Arimo, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.LearnSomethingContainer img {
  width: 60%;
  height: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 24px;
  margin-right: 40px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.text h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #8895B3;
  height: 20%;
  line-height: 3rem;
  padding-bottom: 2rem;
}

.text h3 {
  font-size: 2rem;
  color: #5E7CE2;
  height: 20%;
  line-height: 2.25rem;
  padding-bottom: 3rem;
}

.text #button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#button {
  color: #E8E8E8;
  background-color: #5E7CE2;
  font-family: Open sans, sans-serif;
  font-size: 1rem;
  width: 25rem;
  height: 16px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: color 2s linear 2s;
}

#button:hover {
  background-color: #8895B3;
}

/* Learn Something New Banner */

.Practice {
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  background-color: #E8E8E8;
}

.leftside {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 24px;
  flex-direction: column;
  width: 60%;
}

.leftside img {
  width: 100%;
  height: auto;
  padding-right: 24px;
  padding-bottom: 32px;
}

.leftside h1 {
  padding-bottom: 24px;
  font-size: 2rem;
  font-family: Arimo, sans-serif;
  font-weight: bold;
  color: #5E7CE2;
  width: 100%;
}

.leftside p {
  font-family: Open Sans, sans-serif;
  width: 100%;
  line-height: 1.5rem;
  color: #8895B3;
  font-weight: bold;
}

.leftside h6 {
  font-family: Open Sans, sans-serif;
  line-height: 1.5rem;
  font-weight: bold;
  font-size: 0.75rem;
  color: #8895B3;
}

.rightside {
  display: flex;
  width: 423px;
  padding-left: 24px;
  flex-direction: column;
  justify-content: flex-start;
}

.rightside img {
  width: 35%;
  padding-bottom: 16px;
  height: 35%;
}

.orientation, .information, .guest {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-top: 16px;
}

.date, .campus, .professor {
  margin-left: 16px;
  color: #5E7CE2;
  font-family: Arimo, sans-serif;
}

.date h4, .campus h4, .professor h4 {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding-bottom: 8px;
}

.date p, .campus p, .professor p {
  padding-bottom: 8px;
  line-height: 1.5rem;
}

.date a, .campus a, .professor a {
  text-decoration: none;
  color: #8895B3;
}

.guest {
  background-color: #CEE5F2;
}

/* Start Learning Section */

.start {
  background-color: #CEE5F2;
}

.start h1 {
  font-family: Arimo, sans-serif;
  font-size: 3rem;
  color: #5E7CE2;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: bold;
  text-align: center;
}

.lineone {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #CEE5F2;
}

.box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  height: 325px;
  font-family: Open Sans, sans-serif;
  width: 25%;
  margin-left: 16px;
  margin-right: 16px;
}

.insidebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.insidebox img {
  padding-bottom: 16px;
  width: 100%;
}

.insidebox h5 {
  padding-bottom: 16px;
  font-weight: bold;
  color: #5E7CE2;
}

.insidebox h6, .box p {
  color: #5E7CE2;
}

.insidebox h6 {
  padding-bottom: 8px;
}

.insidebox p {
  padding-bottom: 24px;
  text-align: center;
  line-height: 1.5rem;
}

.linetwo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #CEE5F2;
  padding-bottom: 32px;
}

/* Thesis Section */

.thesis {
  background-color: #E8E8E8;
  padding-left: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Arimo, sans-serif;
  font-size: 3rem;
  color: #5E7CE2;
  text-align: center;
}

.thesis-container {
  background-color: #E8E8E8;
  padding-left: 24px;
  display: inline-flex;

}

.thesis-leftside {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.thesis-leftside video {
  width: 100%;
  padding-bottom: 24px;
  padding-right: 16px;
}

.thesis-text {
  font-family: Open Sans, sans-serif;
  color: #5E7CE2;
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: 1.5rem;
  padding-bottom: 32px;
}

.thesis-text h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

.thesis-rightside {
  padding-left: 16px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.thesis-rightside .box {
  width: 423px;
  height: 168px;
  display: flex;
  background-color: white;
  justify-content: flex-start;
  align-items: center;
}

.thesis-rightside .insidebox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.thesis-rightside img {
  width: 33%;
  padding: 16px 16px;
}

.thesis-rightside .insidebox p {
  text-align: left;
}

.box2 {
  background-color: #E8E8E8;
  width: 423px;
  height: 168px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #5E7CE2;
  line-height: 1.5rem;
  font-family: Open Sans, sans-serif;
  padding-left: 16px;
}

.box2 img {
  width: 33%;
  padding: 16px 16px;
}

/* Footer */

.footer {
  display: flex;
}

.leftfooter {
  padding-left: 24px;
  padding-top: 24px;
  padding-right: 45rem;
  font-family: Open Sans, sans-serif;
  color: #BFBFBF;
  display: flex;
}

.rightfooter {
  font-family: Open Sans, sans-serif;
  color: #BFBFBF;
  padding-top: 24px;
}

.rightfooter a {
  text-decoration: none;
  color: #BFBFBF;
  text-align: right;
  word-spacing: 1.5rem;
}
